body{
    width: 1440px;
    margin: 12px 32px 0px 32px;
}
header, nav{
    display: flex;
    width: 1440px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
header{
    gap: 40px;
}
.header-col{
    display: flex;
    flex-direction: column;
    margin-right: 207px;
}
.logo{
    margin-right: 861px;
}
.text18{
    color: var(--text-dark, #212529);
    font-size: 18px;
    font-family: "Roboto";
}
main{
    display: flex;
    gap: 120px;
    flex-direction: column;
}
.sec1-1{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 40px;
}
h1{
    font-family: "Inter";
    color: var(--text-dark, #212529);
    font-size: 72px;
    font-weight: 400;
    width: 794px;
    text-transform: uppercase;
    margin: 0px;
}
.text20{
    color: var(--text-dark, #212529);
    font-size: 20px;
    font-family: "Roboto";
}
.sec1-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
}
.sec1-2-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.sec1-2-1 > p {
    width: 445px;
    margin-bottom: 250px;
    margin-top: 0px;
}
h2{
    font-family: "Inter";
    color: var(--text-dark, #212529);
    font-size: 48px;
    font-weight: 400;
    width: 562px;
    margin: 0px;
}
.text16{
    color: var(--text-dark, #212529);
    font-size: 16px;
    font-family: "Roboto";
    margin: 0px;
}
h3{
    font-family: "Inter";
    color: var(--text-dark, #212529);
    font-size: 36px;
    font-weight: 400;
    width: 562px;
    margin: 0px;
}
.sec2{
    display: flex;
    flex-direction: row;
}
.sec2-1{
    width: 562px;
    margin-right: 135px;
}
.sec2-2{
    display: flex;
    flex-direction: column;
    width: 679px;
}
.sec2-2-1{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 44px;
    width: 446px;
}
.sec2-2-2{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.sec2-2-2 span{
    width: 146px;
}
.sec2-2-2 div{
    display: flex;
    flex-direction: column;
}
.sec3{
    display: flex;
    flex-direction: row;
}
.sec3-1{
    display: flex;
}
.sec3-2{
    display: flex;
    flex-direction: column;
    width: 678px;
}
.sec3-2 p{
    width: 325px;
    margin-bottom: 44px;
    margin-top: 22px
}
.sec3-2-1 h3{
    width: 328px;
}
.sec3-2-1 p{
    width: 329px;
    margin: 0px;
}
.sec3-2-1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.sec3-2 > hr{
    width: 100%;
    margin: 24px 0px 24px 0px;
}
.sec4 h2{
    margin-bottom: 32px;
}
table{
    border-collapse: collapse;
}
td, td:first-child {
    padding: 0px 20px 0px 0px;
}
td:last-child {
    padding: 0px 0px 0px 0px;
}
.line1 td:nth-child(1), .line1 td:nth-child(2), .line1 td:nth-child(3){
    padding-bottom: 20px;
}
.sec5{
    display: flex;
    flex-direction: row;
    margin-top: 32px;
}
.text18-bold{
    color: var(--text-dark, #212529);
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 600;
}
.sec5-1{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 445px;
    border: black 1px solid;
    padding: 40px 0px 60px 0px;
}
.sec5-1 > p.text16{
    width: 365px;
    text-align: center;
}